.marca-titulo {
    font-family: 'Salsa', cursive !important;
    font-weight: 400;

}

.bg-custom {
    background: linear-gradient(135deg, 
        #ff4b4b 0%,     
        #28a745 25%,    
        #17a2b8 50%,   
        #ffc107 100%   
    ) !important;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card {
    border-radius: 15px !important;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.90) !important;
    border: none !important;
}


.card-header h3 {
    font-family: 'Salsa', cursive !important;
    font-weight: 400;
    font-size: 1.8rem;
    color: #333;
}


.form-control {
    border-radius: 10px !important;
    border: 1px solid #ccc !important;
}


.btn-primary {
    background: linear-gradient(135deg, #ff4b4b, #ffc107) !important;
    border: none !important;
    border-radius: 10px !important;
    padding: 10px 20px !important;
    font-weight: 600 !important;
    transition: 0.2s ease-in-out !important;
}

.btn-primary:hover {
    transform: scale(1.05) !important;
    background: linear-gradient(135deg, #ffc107, #ff4b4b) !important;
}


a.small, 
.card-footer a {
    color: #17a2b8 !important;
    font-weight: 600 !important;
}

.card.shadow-lg {
    box-shadow: 0px 6px 20px rgba(0,0,0,0.25) !important;
}

.col-lg-5 {
    max-width: 450px !important;
    width: 450px !important;
    flex: 0 0 450px !important;
}

.col-lg-7 {
    max-width: 550px !important;
    flex: 0 0 550px !important;
}